body {
    margin: 0;
    font-family: Arial;
    background: #0a1f3c;
    color: white;
}

.navbar {
    background: #08172b;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #4da6ff;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.pay-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.pay-card {
    background: #112b4a;
    padding: 25px;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    transition: 0.3s;
}

.pay-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(77,166,255,0.5);
}

.pay-card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #4da6ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pay-card button:hover {
    background: #3399ff;
}